---
---


html{
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  // background: #000;
}

html, body {
  margin: 0; 
  height: 100%; 
  background-color: rgba(0,0,0,0);
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  text-shadow: 1.5px 1.5px rgba(0,0,0,0.5);
  background: #000;
  font-weight: 500;
}

p{
  text-shadow: 1.5px 1.5px rgba(0,0,0,0.5);
}

.bg-image{
  // background: rgb(0,0,0) url('{{ site.baseurl }}/images/FinalTrailer_16_9_Fade_InBetween_1080P_4K_Youtube_HQ_ArcticBrighter.mp4_snapshot_00.43.000.jpg') no-repeat center center fixed; 
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url('{{ site.baseurl }}/images/vlcsnap-2022-08-04-13h58m18s809.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.features{
  @media (min-width: 992px) { 
    list-style-position: inside;
  }
}


header{
  z-index: 1;
}

p{
  line-height: 1.75;
}

.links{
  a{
    transition: transform 0.1s;
  }
  a:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  } 
}

.logo {
  svg{
    width: 230px;
    filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.5));
  }
}

.barlow{
  font-family: 'Barlow', sans-serif;
  font-style: italic;
  color: #fff !important;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

h1, h2, h3, h4, h5{
  @extend .barlow;
}

h1{
  font-size: 2rem;
}

.links{
  bottom:0;
  
  a{
    @extend .barlow;
    font-size: 1.5rem;
  }

  svg{
    fill: #fff;
    height: 1.8rem;
    width: 1.8rem;
    margin-right: 1rem;
    filter: drop-shadow(1.5px 1.5px 0px rgba(0,0,0,0.5));
  }
}

.btl-logo{
  background: #000;
  width: 100px;
  margin-right: 1rem;
}

footer{
  padding: 0.2rem;
  bottom: 0; left: 0; 

}

.footer-icon{
  svg{
    margin-top: calc(50px - 1.1rem);
    fill: #fff;
    height: 2.2rem;
    width: 2.2rem;
    margin-left: 1rem;
    filter: drop-shadow(1.5px 1.5px 0px rgba(0,0,0,0.5));
  }
}

#video_16_9, #video_9_16 {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  background: #000;
}

.buy{
  @extend .barlow;
  font-size: 1.5rem;
}

.back{
  color: #fff !important;
  text-decoration: none;
  &:hover{
    text-decoration: underline;
  }
  svg{
    height: 14px;
    margin-right: 6px;
    filter: drop-shadow(2px 2px 0px rgba(0,0,0,0.5));
    fill: #fff;
  }
}