<footer class="w-100 d-flex align-items-center">
  <div class="mx-auto d-flex  mb-4 mb-md-5">
    <a href="https://betterthanlife.io/" target="_blank" class="btl-logo ">
      <img alt="Better Than Life Logo" src="{{ site.baseurl }}/images/logo_better_than_life.svg">
    </a>
    <div class="d-flex">
      <a class="align-items-center text-decoration-none footer-icon" target="_blank" href="https://www.instagram.com/betterthanlife.io/">{% include instagram_svg.html %}</a>
      <a class="align-items-center text-decoration-none footer-icon" target="_blank" href="https://twitter.com/btl_sandwich">{% include twitter_svg.html %}</a>
      <a class="align-items-center text-decoration-none footer-icon" target="_blank" href="https://www.youtube.com/channel/UCTlvXuo16nuocHptl7ypltw">{% include youtube_svg.html %}</a>
    </div>
  </div>
</div>