<header class="ms-md-5 d-md-flex flex-column justify-content-between w-100">
  <a class="d-block mt-5 logo" href="/">{% include logo_svg.html %}</a>
  <div class="links d-flex flex-column mb-5 position-fixed">
    <a class="me-md-5 mb-4 d-flex align-items-center text-decoration-none" href="{{ site.baseurl }}/projects">{% include steam_svg.html %}Wishlist on Steam</a>
    <a class="d-flex align-items-center text-decoration-none" href="{{ site.baseurl }}/blog">{% include discord_svg.html %}Join our Discord</a>
  </div>
  <!-- <nav>
    <div class="d-flex align-items-center me-5 h-100 links">
      <a class="h3 me-5 my-3 text-decoration-none" href="{{ site.baseurl }}/projects">{% include steam_svg.html %}Steam</a>
      <a class="h3 my-3 text-decoration-none" href="{{ site.baseurl }}/blog">{% include discord_svg.html %}Discord</a>
    </div>
  </nav> -->
</header>