<header class="d-md-flex justify-content-between w-100">
  <!-- <a class="logo ms-4 py-4" href="/"><img src="/images/logo_white_left.svg"></a> -->
  <a class="d-block py-4 ms-4" href="/">{% include logo_svg.html %}</a>
  <nav>
    <div class="d-flex align-items-center me-4 h-100">
      <a class="me-2 me-md-4 my-auto text-decoration-none" href="{{ site.baseurl }}/projects">Wishlist on Steam</a>
      <a class="me-2 me-md-4 my-auto text-decoration-none" href="{{ site.baseurl }}/blog">Join our Discord</a>
      <a target="_blank" class="icon" href="https://www.instagram.com/betterthanlife.io/">
        <img src="{{ site.baseurl }}/images/instagram.svg" alt="Logo Instagram">
      </a>
    </div>
  </nav>
</header>